@import "~tabler-react/dist/Tabler.css";

.container {
 max-width: 1400px;
}

.btn-outline-cyan {
 color: #17a2b8;
 background-color: transparent;
 background-image: none;
 border-color: #17a2b8;
}

.btn-outline-cyan:hover {
 color: #fff;
 background-color: #17a2b8;
 border-color: #17a2b8;
}

.btn-outline-cyan:focus,
.btn-outline-cyan.focus {
 box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.5);
}

.btn-outline-cyan.disabled,
.btn-outline-cyan:disabled {
 color: #17a2b8;
 background-color: transparent;
}

.btn-outline-cyan:not(:disabled):not(.disabled):active,
.btn-outline-cyan:not(:disabled):not(.disabled).active,
.show > .btn-outline-cyan.dropdown-toggle {
 color: #fff;
 background-color: #17a2b8;
 border-color: #17a2b8;
}

.btn-outline-cyan:not(:disabled):not(.disabled):active:focus,
.btn-outline-cyan:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-cyan.dropdown-toggle:focus {
 box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.5);
}

.btn:not(:disabled):not(.disabled) {
 cursor: pointer;
}

.btn-primary-only-text {
 box-shadow: unset !important;
 font-weight: 400;
 color: #467fcf;
 background-color: transparent;
}

.btn-primary-only-text:hover {
 color: #295a9f;
 background-color: transparent;
 border-color: transparent;
}

.btn-primary-only-text:active {
  opacity: 0.7;
}

.btn-danger-only-text {
 box-shadow: unset !important;
 font-weight: 400;
 color: #cd201f;
 background-color: transparent;
}

.btn-danger-only-text:hover {
 color: #961818;
 background-color: transparent;
 border-color: transparent;
}

.btn-danger-only-text:active {
  opacity: 0.7;
}

.nav-tabs .nav-link.active {
 color: #17a2b8;
 border-color: #17a2b8;
}

.nav-tabs .nav-link.active:hover {
 opacity: 0.8;
 color: #17a2b8;
 border-color: #17a2b8;
}

.card-login {
 max-width: 550px;
 margin: 100px auto 0;
}

.modal {
 background-color: rgba(0, 0, 0, 0.1);
}

.modal-close i {
 cursor: pointer;
}
