@import "~tabler-react/dist/Tabler.css";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f8f9fa;
  color: #454545;
}

.btn-outline-cyan {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.btn-outline-cyan:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-cyan:focus,
.btn-outline-cyan.focus {
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.5);
}

.btn-outline-cyan.disabled,
.btn-outline-cyan:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btn-outline-cyan:not(:disabled):not(.disabled):active,
.btn-outline-cyan:not(:disabled):not(.disabled).active,
.show > .btn-outline-cyan.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-cyan:not(:disabled):not(.disabled):active:focus,
.btn-outline-cyan:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-cyan.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.5);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.f-grow-1 {
  flex-grow: 1;
}

.nav-tabs .nav-link.active {
  color: #17a2b8;
  border-color: #17a2b8;
}

.nav-tabs .nav-link.active:hover {
  opacity: 0.8;
  color: #17a2b8;
  border-color: #17a2b8;
}

.card-login {
  max-width: 550px;
  margin: 100px auto 0;
}

.modal {
  background-color: rgba(65, 74, 95, 0.4);
  display: block;
}

.avatar-lg {
  width: 40px;
  height: 40px;
}

.sheets {
  padding-top: 30px;
}

.sheet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.281);
  cursor: pointer;

  &:hover {
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);

    .sheet-actions {
      visibility: visible;
    }
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  &-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &-icon {
    margin-right: 20px;
    width: 30px;
    height: 30px;

    background-image: url(../icons/file.png);
    background-position: center;
    background-size: cover;
  }

  &-title {
    color: #252423;
    width: 500px;
    padding-right: 30px;
  }

  &-user {
    font-size: 12px;
    color: #323130;
  }

  &-date {
    align-self: center;
    font-size: 12px;
  }

  &-actions {
    font-size: 18px;
    visibility: hidden;
    position: relative;
    display: flex;
  }

  &-action {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: transparent;

    &:hover {
      background-color: #e1dfdd;
    }
  }
}

.list-group-element {
  width: 100%;
  color: #495057;
  display: flex !important;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
  }

  &:hover {
    padding-left: 15px;
    border-left: 6px solid #17a2b8;
  }

  &:active {
    color: #495057;
    background-color: #e9ecef;
  }
}

.loader-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sheet-answer {
  padding: 10px;

  &:hover {
    background-color: #ecedf1;

    .sheet-answer-actions {
      display: flex;
      visibility: visible;
    }
  }

  &-field {
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-weight: bold;
  }

  &-actions {
    display: flex;
    visibility: hidden;
  }

  &-action {
    margin-right: 5px;
    padding: 5px;

    i {
      cursor: pointer;
    }

    &:hover {
      i {
        color: #aaa;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-option {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    border-left: 6px solid #17a2b8;
    padding: 5px 10px;
    margin-bottom: 10px;

    &-field {
      background-color: #fff;
      border: 1px solid #e7eaef;
      border-radius: 3px;
      min-width: 162px;
      padding: 9px;
      font-size: 13px;
      line-height: 17px;
      color: #414a5f;
      outline: none;
      width: 100%;
    }

    &-actions {
      display: flex;
    }

    &-action {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #ccc;
      }
    }
  }
}

.testttttt {
  color: red;
}
